<mat-card class="card">
  <mat-list *ngIf="list.length > 0; else empty">
    <mat-list-item *ngFor="let item of list"
                   class="item"
                   [ngClass]="{marked: item.marked}">
      <mat-checkbox #ch [checked]="item.marked" (change)="mark(item, ch.checked)">{{item.title}}</mat-checkbox>
      <span class="button">
          <button mat-icon-button
                  (click)="removeItem.emit(item)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
      </span>
    </mat-list-item>
  </mat-list>

  <ng-template #empty>
    Nothing here
  </ng-template>
</mat-card>
